@model List<WWWROOT.Models.Book>

<h3>Book Admin</h3>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <hr />
      <ul>
      @foreach(var item in Model)
      {
        <li><a asp-action="Details" asp-route-id="@item.BookId">@Html.DisplayFor(ModelItem => item.BookTitle)</a></li>
      }
      </ul>
      <hr />
    </div>
  </div>
</div>
